// Layout Vars
$gutter: 12px;

.no-padding {
  padding: 0 !important;
}

// Row Declarations
.row {
  padding: $gutter 0;
  .row {
    padding: 0;
  }
}
.container {
  padding: 0 $gutter;
  .container {
    padding: 0;
  }
}

